div.window.dark section {
  border-radius: 10px !important;
  border: 10px solid #162227 !important;
  margin-bottom: 10px;
}

div.window.dark section>p {
  display: flex !important;
  position: relative !important;
}